@import '_variables.scss';
@import '_mixins.scss';
@import 'reset.scss';

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 16px;
    // color: ;

    &::placeholder {
        font-size: 14px;
        color: rgba($color: gray, $alpha: 0.8);
    }
}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

form{
    width: $max-width;
    background-color: $bg-color-principal;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.2);

    .container {
        margin: 30px;
        // display: flex;
        // flex-direction: column;
        
        .title {
            margin-bottom: 20px;
            font-size: 30px;
            font-weight: 700;
            text-align: center;
            color: $text-color-title;
        }

        .terms {
            margin-bottom: 20px;
            a {
                color: $text-color-link;
            }
        }

        .button {
            width: 100%;
            height: 40px;
            border-radius: 5px;
            font-size: 20px;
            color: #ffffff;
            background-color: $bg-color-button;
            cursor: pointer;

            &:hover {
                background-color: rgba($color: $bg-color-button, $alpha: 0.7);
            }
        }

        .password {
            position: relative;
            .eye-password {
                position: absolute;
                right: 10px;
                bottom: 50px;
                font-size: 20px;
                color: gray;
            }
        }

        .confirm-password {
            position: relative;
            .eye-confirm-password {
                position: absolute;
                right: 10px;
                bottom: 50px;
                font-size: 20px;
                color: gray;
            }
        }
    }
}

@keyframes animation-button-submit {
    0%{
        transform: translateX(0px);
    }
    25%{
        transform: translateX(-10px);
    }
    50%{
        transform: translateX(0px);
    }
    75%{
        transform: translateX(10px);
    }
    100%{
        transform: translateX(0px);
    }
}

.error-submit {
    border: 1px solid red;
    background-color: rgba($color: #CC000E, $alpha: 0.05);
    animation: animation-button-submit 0.3s;
}

.error {
    background-color: rgba($color: red, $alpha: 0.4);
}

.error-terms-text {
    color: red;
}

.alert-error-terms {
    text-align: center;
    margin-top: 5px;
    p {
        font-size: 16px;
        color: red;
    }
}

.congratulations {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: $text-color-title;
}
